* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

body {
    padding-top: 40px;
    padding-left: 40px;
}

/* ==== SVG STUFF ====*/
#svgContainer {
    width: 610px;
    height: 360px;
    position: relative;
}

#svgDiv {
    border: 1px solid red;
    width: 610px;
    height: 360px;
    padding: 10px 30px;
    padding-left: 0;
}

#dates li {
    display: inline;
    float: left;
}

    #dates li span {
        display: block;
        margin-left: 15px;
        text-align: center;
        width: 70px;
        font-size: small;
        font-weight: bold;
        color: darkblue;
        animation: animatedBackground 0.5s linear normal;
    }

@keyframes animatedBackground {
    from {
        background-color: royalblue;
    }

    to {
        background-color: white;
    }
}

.minus-three, .plus-three {
    opacity: 0.7;
}

.minus-two, .plus-two {
    opacity: 0.8;
}

.plus-one, .minus-one {
    opacity: 0.9;
}

rect:hover {
    opacity: 0.4;
}

.arrows {
    position: absolute;
    display: inline-block;
    margin-top: 26%;
}

    .arrows div {
        position: relative;
        top: 45%;
        border: 20px solid transparent;
        opacity: 0.4;
    }

        .arrows div:hover {
            opacity: 0.8;
        }

#arrow-left {
    left: 1%;
}

    #arrow-left div {
        border-right-color: lawngreen;
    }

#arrow-right {
    right: 1%;
}

    #arrow-right div {
        border-left-color: lawngreen;
    }

.makeTransparent {
    transition: 0.1s;
    opacity: 0.5;
}

.makeOpaque {
    transition: 0.1s;
    opacity: 1;
}

/*======== ACTIVITIES DROP DOWN ============*/
#activitiesDropDown {
    display: inline-table;
}

#activitiesDropDown, .icon-box span {
    color: royalblue;
}


.icon-box {
    border: 1px solid royalblue;
    width: 38px;
}

    .icon-box:hover ~ div {
        display: block;
    }

.activities-list {
    display: none;
    border: 1px solid royalblue;
    position: relative;
}

    .activities-list:hover {
        display: block;
    }

    .activities-list .border-overlap {
        width: 38px;
        position: absolute;
        background: white;
        top: -2px;
        height: 2px;
    }

    .activities-list button {
        color: royalblue;
        font-weight: bold;
        border: 0;
        background-color: white;
        text-align: center;
        text-decoration: none;
        padding: 4% 8% 2% 6%;
        width: 100%;
    }

        .activities-list button:hover {
            color: white;
            background-color: royalblue;
            z-index: 2;
        }

    .activities-list #new-activity {
        color: white;
        background-color: royalblue;
        border: 2px solid royalblue;
        font-weight: bolder;
        font-size: medium;
    }

        .activities-list #new-activity:hover {
            color: royalblue;
            background-color: white;
        }

#activities-CRUD {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    #activities-CRUD .crud-background-div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.7;
        background: grey;
    }

    #activities-CRUD button.crud-exit {
        position: absolute;
        right: 2%;
        top: 2%;
    }

    #activities-CRUD .crud-form-div {
        z-index: 2;
        background: white;
        position: fixed;
        top: 30%;
        left: 42%;
    }

    #activities-CRUD form button {
        width: 100%;
    }

    #activities-CRUD .form-elements {
        margin: 20px;
    }

/* ===== Header styling ===== */
#bodyDiv hr {
    margin-top: 7px;
    margin-bottom: 5px;
    width: 258px;
}

#bodyDiv h4 {
    display: inline-block;
    vertical-align: top;
}
