* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding-top: 40px;
    padding-left: 40px;
}

#svgDiv {
    width: 610px;
    height: 360px;
    position: relative;
}

#svgContainer {
    width: 610px;
    height: 360px;
    padding: 10px 30px;
    padding-left: 0px;
}

#dates li {
    display: inline;
    float: left;
}

@keyframes animatedBackground {
    from {
        background-color: royalblue;
    }

    to {
        background-color: white;
    }
}

#dates li span {
    display: block;
    margin-left: 15px;
    text-align: center;
    width: 70px;
    font-size: small;
    font-weight: bold;
    color: darkblue;
    animation: animatedBackground 0.5s linear normal;
}

.minus-three, .plus-three {
    opacity: 0.7;
}

.minus-two, .plus-two {
    opacity: 0.8;
}

.plus-one, .minus-one {
    opacity: 0.9;
}

rect:hover {
    opacity: 0.4;
}

.arrows {
    position: absolute;
    display: inline-block;
    margin-top: 26%;
}

    .arrows div:hover {
        opacity: 0.8;
    }

#arrow-left {
    left: 1%;
}

#arrow-right {
    right: 1%;
}

.arrows div {
    position: relative;
    top: 45%;
    border: 20px solid transparent;
    opacity: 0.4;
}

#arrow-right div {
    border-left-color: lawngreen;
}

#arrow-left div {
    border-right-color: lawngreen;
}

.makeTransparent {
    transition: 0.1s;
    opacity: 0.5;
}

.makeOpaque {
    transition: 0.1s;
    opacity: 1;
}

/*======== ACTIVITIES DROP DOWN ============*/

.icon-box span, .activities-list span {
    color: royalblue;
}

.icon-box {
    border: 1px solid black;
    width: 38px;
}

    .icon-box:hover ~ div {
        display: block;
    }

.activities-list {
    display: none;
    border: 1px solid black;
    position: relative;
}

    .activities-list:hover {
        display: block;
    }

    .activities-list .border-overlap {
        width: 38px;
        position: relative;
        background: white;
        top: -2px;
        height: 2px;
    }

    .activities-list .add-activity {
        height: 16%;
        width: 10%;
        position: absolute;
        right: -1px;
        border: 1px solid black;
    }

    .activities-list .add-activity:hover {
        background: royalblue;
    }
    
    .activities-list .add-activity:hover span {
        color: white;
    }
        
        .activities-list .add-activity .border-overlap {
            width: 34px;
            position: relative;
            background: white;
            top: -1px;
            height: 1px;
        }

    .activities-list hr {
        color: lightgrey;
    }

    .activities-list ul {
        list-style: none;
        width: 340px;
    }

        .activities-list ul li {
            height: 40px;
            padding: 2% 5%;
            position: relative;
        }

            .activities-list ul li .activity-text {
                position: absolute;
                margin-top: 2%;
            }

            .activities-list ul li div {
                float: right;
            }

                .activities-list ul li div span {
                    transform: scale(0.5);
                }
