<!DOCTYPE html>
<html lang="en_US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Tache" />
        <title>@ViewBag.Title</title>
        <link type="text/css" rel="stylesheet" href="~/Content/site.css" />
        <script type="text/javascript" src="~/Scripts/chart.js" defer></script>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
