<ul class="nav nav-justified" >
    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-check"></span></a></li>
    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-plus"></span></a></li>
    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-tasks"></span></a></li>
    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
</ul>