@model HandleErrorInfo

@{ 
    ViewBag.Title = "Too far in the future, dude!";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Too Far In The Future</title>
</head>
<body>
    <h2>Whoa!</h2>
    <span>@Model.Exception.Message</span>
    <div>
        @{
            DateTime yesterday = DateTime.Today.AddDays(-1);
            @Html.ActionLink("Try again with yesterday's date?", "Index", new { year = yesterday.Year, month = yesterday.Month, day = yesterday.Day});
        }
    </div>
</body>

</html>
