@model IEnumerable<Activity>

<div id="current-activity" class="container-fluid page">
    @Html.Partial("CurrentActivity", new CurrentActivityViewModel(Model))
</div>

<div id="next-activity" class="container-fluid page">
    @Html.Partial("NextActivity", Model.Where(a => a.Hide == false && a.Start == null))
</div>