@model Tache.Domain.Entities.Activity

<div id="activities-CRUD">
    <div>
        @using (Ajax.BeginForm("Update", (AjaxOptions)ViewBag.CustomAjaxOptions)) {
            @Html.EditorFor(m => m)
            <button id="save" type="submit">Save</button>
        }

        @using (Ajax.BeginForm("Delete", (AjaxOptions)ViewBag.CustomAjaxOptions)) {
            @Html.HiddenFor(m => m.Id)
            <button id="delete" type="submit">Delete</button>
        }
    </div>
</div>