@model Tache.Domain.Entities.Activity

<div id="activities-CRUD">
    <div id="background-cover"></div>
    @using (Html.BeginForm("TestActivity", "Home", "POST")) {
        @Html.EditorFor(m => m)
        <button type="submit">Save</button>
    }
</div>