@using Tache.Domain.Entities
@model IEnumerable<Activity>

<div id="activitiesDropDown" style="">
    <div class="icon-box"><span class="icono-list"></span></div>
    <div class="activities-list">
        <div class="border-overlap"></div>
        <ul>
            @foreach (Activity activity in Model) {
                <li>
                    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "bodyDiv" })) {
                        @Html.Hidden("newActivity", activity.Id);
                        @Html.Hidden("currentActivity", (object)ViewBag.CurrentActivity.Id);
                        <button type="submit">@activity.Name</button>
                    }
                </li>
            }
        </ul>

        <div class="add-activity">
            <div class="border-overlap"></div>
            <span>New</span>
        </div>
    </div>
</div>
@Html.Partial("ActivityCRUD", new Activity())