<div class="row no-gutter">
    <div class="col-xs-12">
        <div style="margin-left: auto;margin-right: auto;display: block;width: 505px;">
            <div>
                <!-- makeTransparent and other transparency animation event work on this div -->
                <svg width="505px" height="360px" xmlns="http://www.w3.org/2000/svg"></svg>
            </div>
            <ul id="dates">
                @for (int i = 0; i < 7; i++) {
                    <li><span></span></li>
                }
            </ul>
        </div>
        <div class="btn-group btn-group-justified" role="group" style="position: fixed; bottom:0;">
            <div class="btn-group" role="group">
                <button class="btn btn-primary btn-block" type="button" id="arrow-left">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-primary btn-block" type="button" id="arrow-right">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="rect-activity-info">
    <h4 id="activity-name"></h4>
    <h5 id="activity-description"></h5>
    <p>
        For <!-- There is a space here -->
        <span id="activity-hours">hours</span>
        <span id="activity-and" style="display: none;"> and </span>
        <span id="activity-minutes">minutes</span>
    </p>
    <p id="activity-duration">
        <span id="activity-from"></span> to <span id="activity-to"></span>
    </p>
</div>