<div id="chartDiv">
    <div class="crud-background-div"></div>
    <div id="svgDiv">
        <button type="button" class="crud-exit" onclick="(function () { document.getElementById('chartDiv').style.display = 'none'; })()">X</button>
        <div id="svgContainer">
            <div id="arrow-left" class="arrows">
                <div></div>
            </div>
            <div id="arrow-right" class="arrows">
                <div></div>
            </div>
            <svg width="610px" height="360px" xmlns="http://www.w3.org/2000/svg"></svg>
        </div>
        <ul id="dates">
            @for (int i = 0; i < 7; i++) {
                <li><span></span></li>
            }
        </ul>
    </div>
    @Html.Partial("RectActivityInfo")
</div>