@using Tache.Domain.Entities
@model IEnumerable<Activity>

@{
    ViewBag.Title = "Tache";
}

@section Body{
    @{
        IEnumerable<Activity> currentActivities = Model.Where(e => e.Start != null);
        var currentActivity = currentActivities.First();
        IEnumerable<SelectListItem> allActivities = Model.Except(currentActivities)
            .Select(a => new SelectListItem { Text = a.Name, Value = a.Id.ToString() })
            .OrderBy(a => a.Text);
    }
    <h2>You have been <span style="color: palevioletred;">@currentActivity.Name</span> since <span style="color: lightgreen;">@currentActivity.Start</span>.</h2>
    <h4>I am going to start: @Html.Partial("ActivitiesDropDown", Model.Except(currentActivities))</h4>

    @*@Html.Partial("Activity")*@
}