@using Tache.Domain.Entities
@model IEnumerable<Activity>

@{
    ViewBag.Title = "Tache";
}

@section Body{
    <div id="bodyDiv">
        @Html.Partial("Body", Model)
    </div>
}

@section Chart {
    <div id="svgDiv">
        @Html.Partial("Chart")
    </div>
}