@model Tache.Web.Models.ViewModels.CurrentActivityViewModel

@{
    ViewBag.Title = "Tache";
}

@section Nav {
    @Html.Partial("NavBar")    
}

@section Body{
    <div id="bodyDiv">
        @Html.Partial("Body", Model)
    </div>
}