<div id="rect-activity-info" class="default">
    <h4 id="activity-name"></h4>
    <h5 id="activity-description"></h5>
    <p>
        For <!-- There is a space here -->
        <span id="activity-hours">hours</span>
        <span id="activity-and" style="display: none;"> and </span>
        <span id="activity-minutes">minutes</span>
    </p>
    <p id="activity-duration">
        <span id="activity-from"></span> to <span id="activity-to"></span>
    </p>
</div>